.lang__hi {
  font-weight: 200;
}
.lang__hi--sans {
  font-family: var(--sans-HI) !important;
  font-weight: 300;
}
.lang__hi--serif {
  font-family: var(--serif-HI) !important;
  font-weight: 300;
}

.lang__hi.symbolSingle__symbol span {
  font-size: var(--step-3);
}