@use 'identity' as i;

.lang__ru {
    font-weight: 200;
    &--serif {
        font-family: var(--serif-RU);
        font-weight: 400;
    }
    &--sans {
        font-family: var(--sans-RU);
        font-weight: 300;
    }
}

.lang__ru.symbolSingle__symbol {
    span:first-of-type {
        text-transform: capitalize;
    }
    &.lowercase {
        span:first-of-type {
            display: none;
        }
    }
    &.uppercase {
        span:last-of-type {
            display: none;
        }
    }
}

@for $i from 1 through 31 {
    .lang__ru .symbolSingle:nth-of-type(#{$i}) {
        .symbolSingle__symbol {
            $hue: $i * 60;
            color: hsl($hue, 50%, 50%) !important;
        }
    }
}
