@use 'identity' as i;

.lang__jp {
    &--sans {
        font-family: var(--sans-JP);
        font-weight: 400;
    }
    &--serif {
        font-family: var(--serif-JP);
        font-weight: 500;
    }
}

@for $i from 1 through 11 {
    .phonetics:nth-of-type(#{$i}) {
        .symbolSingle__symbol {
            $hue: $i * 60;
            color: hsl($hue, 50%, 50%) !important;
        }
    }
}

.lang__jp.symbolsPanel {
    align-content: flex-start;
}

.lang__jp.symbolSingle__symbol {
    font-size: var(--step-3);
}

.lang__jp.katakana {
    span:first-of-type {
        display: none;
    }
}
.lang__jp.hiragana {
    span:last-of-type {
        display: none;
    }
}
