@use 'identity' as i;

.sideBar__Title.lang__ar {
    @include i.portrait {
        direction: unset !important;
    }
}

.lang__ar {
    font-feature-settings: 'liga', 'clig', 'calt', 'case';
    -webkit-font-feature-settings: 'liga', 'clig', 'calt', 'case';
    -moz-font-feature-settings: 'liga', 'clig', 'calt', 'case';
    -ms-font-feature-settings: 'liga', 'clig', 'calt', 'case';

    font-weight: 300;
    direction: rtl;
    &--sans {
        font-family: var(--sans-AR) !important;
        font-weight: 400;
    }
    &--serif {
        font-family: var(--serif-AR) !important;
    }
    &--alone {
        span {
            display: none;
        }
    }
    &--initial {
        span:nth-of-type(1) {
            display: none;
        }
    }

    &--final {
        span:nth-of-type(2) {
            display: none;
        }
    }
    &--fg-0 {
        color: grey;
    }
    @for $i from 1 through 9 {
        &--fg-#{$i} {
            $hue: $i * 80;
            color: hsl($hue, 50%, 50%);
        }
    }
}

.symbolMorph {
    &__wrapper {
        width: 70px;
        display: flex;
        flex-direction: column;
        padding-inline: var(--space-3xs);
        padding-block: var(--space-3xs);
        row-gap: var(--space-3xs);
    }
    &__wrapper:not(:first-of-type) {
        border-right: 0.1px solid var(--color1-40);
    }
    &__morphType {
        color: var(--color1-40);
        font-size: var(--step-0);
        font-family: var(--sans-EN);
        text-align: center;
        margin-block: 0;
    }
    &__morphedForm {
        text-align: center;
        color: var(--color1-10);
        font-size: var(--step-3);
        font-weight: 200;
        margin-block: 0;
        line-height: 1em;
    }
}
