@use 'identity' as i;

// .symbolSingle:nth-of-type(15) {
//     .symbolSingle__tooltipWrp {
//         visibility: visible !important;
//         // border: 2px solid red; // XXXX debug ⚠
//     }
// }

.symbolSingle {
    display: inline-block;
    position: relative;
    a {
        text-decoration: none;
    }
    &__tooltipWrp {
        display: flex;
        visibility: hidden;
        z-index: 1;
        border-radius: 15px;
        padding-block: var(--space-2xs);
        background: var(--color1-80);
        @include i.landscape {
            position: absolute;
            // top: 100%;
        }
        @include i.portrait {
            position: fixed;
            top: 0;
            left: 0;
        }
    }

    &:hover {
        .symbolSingle__tooltipWrp {
            visibility: visible;
        }
        .symbolSingle__symbol {
            cursor: pointer;
            color: var(--color1-90);
        }
    }
    &__notationWrp {
        margin-block: 0;
        // display: inline;
        // border: 2px solid red; // XXXX debug ⚠
    }
    &__symbolOrder {
        color: var(--color1-40);
        font-size: var(--step-0);
        text-align: center;
        font-family: var(--number);
        margin-block: var(--space-xs);
    }
    &__phonetics {
        color: var(--color1-40);
        font-size: var(--step-0);
        text-align: center;
        font-weight: 400;
        font-style: normal;
        font-family: var(--phonetics);
        margin-block: var(--space-xs);
        animation-name: move;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        @keyframes move {
            from {
                transform: translateY(50%);
            }
            to {
                transform: translateY(0%);
            }
        }
        &:after,
        &:before {
            content: ' / ';
            font-family: var(--number);
            font-weight: 100;
        }
    }
    &__symbol {
        // color: grey;
        margin-block: 0;
        position: relative;
        @include i.landscape {
            font-size: var(--step-4);
        }
        @include i.portrait {
            font-size: var(--step-6);
        }
        &::after {
            content: '';
            position: absolute;
            background: var(--color1-90);
            transform-origin: bottom left;
            height: 3px;
            width: 145%;
            left: -20%;
            bottom: -10%;
            border-radius: var(--space-3xs);
            @include i.motion-1;
            transition-property: transform;
            @include i.crossBrowser(transform, scaleX(0));
        }
    }
}
