@use 'identity' as i;

.symbolsPanel {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include i.landscape {
        height: 100%;
        align-content: space-evenly;
        padding-block: var(--space-l);
        padding-inline: var(--space-2xl);
        column-gap: var(--space-xl);
    }
    @include i.portrait {
        align-content: flex-start;
        height: 70vh !important;
        padding-block: var(--space-l);
        margin-block-end: var(--space-3xl);
        padding-inline: var(--space-m);
        column-gap: var(--space-m);
        row-gap: var(--space-2xs);
    }
}

.symbolsPanel.lang__jp {
    @include i.landscape {
        display: column;
    }
    @include i.portrait {
        row-gap: var(--space-m);
    }
    .phonetics {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}
