@use 'identity' as i;

body {
    background: var(--color-001);
    @include i.landscape {
        padding: var(--space-l) var(--space-2xl);
    }
    @include i.portrait {
        padding: var(--space-m) var(--space-m);
    }
}

#root {
    @include i.landscape {
        display: flex;
        gap: var(--space-xl);
    }
    @include i.portrait {
        display: flex;
        flex-direction: column;
    }
}

.lang-ar {
    font-weight: 300;
    direction: rtl;
    line-height: 0.6em;
}

.lang-gr {
    font-weight: 200;
}

.lang-gr.serif {
    font-family: 'Times New Roman', Times, serif;
}

.lang-gr.sans {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.lang-gr.single-letter__letter {
    span:first-of-type {
        text-transform: capitalize;
    }
    &.lowercase {
        span:first-of-type {
            display: none;
        }
    }
    &.uppercase {
        span:last-of-type {
            display: none;
        }
    }
}

.single-letter__letter.lang-jp {
    font-size: var(--step-3);
}

.lang-ar.sans {
    font-family: var(--sans-AR) !important;
    // border: 2px solid red; // XXXX debug ⚠
}

.lang-ar.serif {
    font-family: var(--serif-AR) !important;
}

.base-lang {
    font-family: var(--sans-EN);
}

.letters {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--space-xl);
    padding: 0 var(--space-s);

    .single-letter {
        display: inline-block;
    }
}

.letters .lang-ar {
    flex-direction: row-reverse;
}

.letters .lang-ar {
    flex-direction: row-reverse;
}

.single-letter__letter {
    @include i.landscape {
        font-size: var(--step-5);
    }
}

.letter.lang-ar {
    &::after {
        content: ' َ';
    }
}

// single-letter__letterbase action after hover
// ==================================================

.single-letter {
    .single-letter__letter {
        &::after {
            content: '';
            position: absolute;
            bottom: 20%;
            height: 5%;
            width: 150%;
            left: -20%;
            @include i.motion-1;
            border-radius: 5px;
            background: var(--color1-90);
            transform-origin: bottom left;
            transition-property: transform;
            // z-index: -1;
            @include i.crossBrowser(transform, scaleX(0));
        }
    }
    &:hover {
        .single-letter__letter {
            cursor: pointer;
            cursor: pointer;
            color: var(--color1-90);
            &::after {
                @include i.crossBrowser(transform, scaleX(1));
            }
        }
    }
}

// toooltip action after single-letter__letterhover
// ==================================================

.single-letter {
    position: relative;
    .single-letter__tooltip-grp {
        display: none;
    }
    a {
        text-decoration: none;
    }
    &:hover {
        .single-letter__tooltip-grp {
            display: none;
            width: 20vw;
            display: flex;
            flex-direction: row;
            gap: var(--space-2xs);
            background: var(--color1-10);
            z-index: 1;
            position: absolute;
            top: 85%;
            left: -7vw;
            border-radius: 4px;
            justify-content: space-around;
        }
    }
}

.form-in-word {
    font-size: var(--step-4);
    color: grey;
    direction: rtl;
    em,
    span {
        color: var(--color1-90);
        font-style: normal;
        font-weight: 300;
    }
}

.letter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__base-lang {
        color: var(--color2-80);
        font-size: var(--step-0);
        font-family: var(--sans-EN);
    }
    &__set {
        color: var(--color2-40);
        font-size: var(--step-4);
        font-weight: 200;
        line-height: 0.3em;
    }
}

@for $i from 1 through 9 {
    .fg-#{$i} {
        h1 {
            $hue: $i * 80;
            color: hsl($hue, 50%, 50%);
        }
    }
}

@for $i from 1 through 11 {
    .phonetics:nth-of-type(#{$i}) {
        .single-letter__letter {
            $hue: $i * 60;
            color: hsl($hue, 50%, 50%) !important;
        }
    }
}

.single-letter__letter {
    color: grey;
}

.alone {
    span {
        display: none;
    }
}

.initial {
    span:nth-of-type(1) {
        display: none;
    }
}

.medial {
    span {
    }
}

.final {
    span:nth-of-type(2) {
        display: none;
    }
}

.title {
    font-size: var(--step-4);
    color: var(--color1-90);
    text-transform: capitalize;
    // text-align: center;
    // text-decoration: underline;
    // margin-top: var(--space-l);
}

.lang-header {
    display: flex;
    .selection-area {
        display: flex;
        flex-direction: column;
    }
    @include i.landscape {
        position: sticky;
        top: 0;
        // left: 0;
        flex-direction: column;
        padding-right: var(--space-l);
        gap: var(--space-s);
        border-right: 1px solid var(--color1-40);
        .selection-area {
            gap: var(--space-xs);
        }
    }
    @include i.portrait {
        position: sticky;
        top: 0;
        flex-direction: row;
        justify-content: center;
        padding-bottom: var(--space-l);
        gap: var(--space-s);
        border-bottom: 1px solid var(--color1-40);
        .selection-area {
            gap: var(--space-xs);
        }
    }
}

// dropdown menu
// ==================================================

.dropdown {
    width: 10em;
    // border: none;
    font-family: var(--sans-EN);
    text-transform: capitalize;
    outline: none;
    color: var(--color1-80);
    padding: var(--space-3xs) var(--space-2xs);
    cursor: pointer;
    background: var(--color1-10);
    &:hover {
        background-color: var(--color1-90);
        color: var(--color1-10);
    }
    &:active {
        border: none;
    }
}

.single-letter__order-num {
    font-family: var(--single-letter__order-num);
}

.single-letter__notation-grp {
    .single-letter__order-num {
        color: var(--color1-80);
        font-size: var(--step-0);
        text-align: center;
    }
}

.home-nav {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    border-right: 1px solid var(--color1-40);
    padding: var(--space-s);
}

.home-nav__lang {
    text-decoration: none;
    color: var(--color1-80);
    font-size: var(--step-2);
    font-family: var(--sans-EN);
    text-transform: capitalize;
    cursor: pointer;
}

.single-letter__letter.lang-jp {
    &.hiragana {
        span:nth-of-type(2) {
            display: none;
        }
    }
    &.katakana {
        span:nth-of-type(1) {
            display: none;
        }
    }
}

// .phonetics {
//     display: flex;
//     flex-direction: row;
// }
.letters.lang-jp {
    display: flex;
    flex-direction: row;
    .phonetics {
        width: 100%;
        display: flex;
        justify-content: space-between;
        // gap: var(--space-3xl);
        h2 {
            align-self: center;
            color: var(--color1-80);
        }
    }
    .pg-y {
        .single-letter:nth-of-type(2) {
            // font-size: var(--step-5);
            // flex-grow: 3;
            .single-letter__letter {
                text-align: center;
            }
            // justify-content: center;
            // border: 2px solid red; // XXXX debug ⚠
        }
    }
}
