@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300&family=Noto+Naskh+Arabic&family=Noto+Sans+Arabic:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Fira+Sans:wght@300;400&family=Noto+Sans+JP:wght@300;400&family=Noto+Serif+JP:wght@300;400;500&family=Source+Serif+4:opsz,wght@8..60,400;8..60,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;500;700;900&family=Noto+Sans:wght@300;500&family=Noto+Serif+Devanagari:wght@300;500&family=Noto+Serif+SC:wght@300;500;700&family=Source+Serif+4:opsz,wght@8..60,200;8..60,300;8..60,400&display=swap");
:root {
  --sans-JP: "Noto Sans JP", sans-serif;
  --serif-JP: "Noto Serif JP", serif;
  --serif-GR: "EB Garamond", serif;
  --sans-GR: "Fira Sans", sans-serif;
  --sans-HI: "Noto Sans", sans-serif;
  --serif-HI: "Noto Serif Devanagari", serif;
  --serif-AR: "Noto Naskh Arabic", serif;
  --sans-AR: "Noto Sans Arabic", sans-serif;
  --display: "Playfair Display", serif;
  --serif: "Noto Naskh Arabic", serif;
  --sans: "Roboto Condensed", sans-serif;
  --sans-EN: "Mukta", sans-serif;
  --number: "Gill Sans", "Gill Sans MT", calibri, "Trebuchet MS", sans-serif;
}

/* @link https://utopia.fyi/type/calculator?c=360,14,1.125,1366,16,1.414,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,NaN */
:root {
  --step--2: clamp(
      0.5rem,
      calc(0.76rem + -0.3vw),
      0.69rem
  ); /* Step -2: 11.06px → 8.00px */
  --step--1: clamp(
      0.71rem,
      calc(0.8rem + -0.11vw),
      0.78rem
  ); /* Step -1: 12.44px → 11.32px */
  --step-0: clamp(
      0.88rem,
      calc(0.83rem + 0.2vw),
      1rem
  ); /* Step 0: 14.00px → 16.00px */
  --step-1: clamp(
      0.98rem,
      calc(0.83rem + 0.68vw),
      1.41rem
  ); /* Step 1: 15.75px → 22.62px */
  --step-2: clamp(
      1.11rem,
      calc(0.79rem + 1.42vw),
      2rem
  ); /* Step 2: 17.72px → 31.99px */
  --step-3: clamp(
      1.25rem,
      calc(0.68rem + 2.51vw),
      2.83rem
  ); /* Step 3: 19.93px → 45.23px */
  --step-4: clamp(
      1.4rem,
      calc(0.47rem + 4.13vw),
      4rem
  ); /* Step 4: 22.43px → 63.96px */
  --step-5: clamp(
      1.58rem,
      calc(0.12rem + 6.48vw),
      5.65rem
  ); /* Step 5: 25.23px → 90.44px */
  --step-6: clamp(
      1.77rem,
      calc(-0.45rem + 9.89vw),
      7.99rem
  ); /* Step 6: 28.38px → 127.88px */
  --step-7: clamp(
      2rem,
      calc(-1.33rem + 14.8vw),
      11.3rem
  ); /* Step 7: 31.93px → 180.83px */
}

:root {
  --color1-40: #5b5071;
  --color1-90: #eeedf2;
  --color1-80: hsl(288, 22%, 77%);
  --color1-10: hsl(312, 20%, 19%);
  --color1-10-opaque: hsla(312, 20%, 19%, 50%);
  --color2-40: #a67a44;
  --color2-90: #f9f2ea;
  --color2-80: #e8c398;
  --color2-10: #653c09;
  --color2-80-opaque: hsla(32, 63%, 75%, 40%);
  --color3-40: hsl(11, 57%, 42%);
  --color3-90: #fdedf2;
  --color3-80: #ecadb9;
  --color3-10: hsl(7, 62%, 26%);
  --color3-80-opaque: hsla(8, 100%, 21%, 20%);
  --color-100: rgba(255, 255, 255);
  --color-100-opaque: rgba(255, 255, 255, 0%);
  --color-001: rgb(24, 24, 34);
  --color-001-opaque: hsla(0, 0%, 0%, 30%);
}

/* @link https://utopia.fyi/space/calculator?c=360,12,1.125,1366,14,1.414,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,NaN */
/* @link https://utopia.fyi/space/calculator?c=360,14,1.125,1366,16,1.414,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,NaN */
:root {
  --space-3xs: clamp(
      0.25rem,
      calc(0.25rem + 0vw),
      0.25rem
  ); /* Space 3xs: 4px → 4px */
  --space-2xs: clamp(
      0.44rem,
      calc(0.42rem + 0.1vw),
      0.5rem
  ); /* Space 2xs: 7px → 8px */
  --space-xs: clamp(
      0.69rem,
      calc(0.67rem + 0.1vw),
      0.75rem
  ); /* Space xs: 11px → 12px */
  --space-s: clamp(
      0.88rem,
      calc(0.83rem + 0.2vw),
      1rem
  ); /* Space s: 14px → 16px */
  --space-m: clamp(
      1.31rem,
      calc(1.25rem + 0.3vw),
      1.5rem
  ); /* Space m: 21px → 24px */
  --space-l: clamp(
      1.75rem,
      calc(1.66rem + 0.4vw),
      2rem
  ); /* Space l: 28px → 32px */
  --space-xl: clamp(
      2.63rem,
      calc(2.49rem + 0.6vw),
      3rem
  ); /* Space xl: 42px → 48px */
  --space-2xl: clamp(
      3.5rem,
      calc(3.32rem + 0.8vw),
      4rem
  ); /* Space 2xl: 56px → 64px */
  --space-3xl: clamp(
      5.25rem,
      calc(4.98rem + 1.19vw),
      6rem
  ); /* Space 3xl: 84px → 96px */
  /* One-up pairs */
  --space-3xs-2xs: clamp(
      0.25rem,
      calc(0.16rem + 0.4vw),
      0.5rem
  ); /* Space 3xs-2xs: 4px → 8px */
  --space-2xs-xs: clamp(
      0.44rem,
      calc(0.33rem + 0.5vw),
      0.75rem
  ); /* Space 2xs-xs: 7px → 12px */
  --space-xs-s: clamp(
      0.69rem,
      calc(0.58rem + 0.5vw),
      1rem
  ); /* Space xs-s: 11px → 16px */
  --space-s-m: clamp(
      0.88rem,
      calc(0.65rem + 0.99vw),
      1.5rem
  ); /* Space s-m: 14px → 24px */
  --space-m-l: clamp(
      1.31rem,
      calc(1.07rem + 1.09vw),
      2rem
  ); /* Space m-l: 21px → 32px */
  --space-l-xl: clamp(
      1.75rem,
      calc(1.3rem + 1.99vw),
      3rem
  ); /* Space l-xl: 28px → 48px */
  --space-xl-2xl: clamp(
      2.63rem,
      calc(2.13rem + 2.19vw),
      4rem
  ); /* Space xl-2xl: 42px → 64px */
  --space-2xl-3xl: clamp(
      3.5rem,
      calc(2.61rem + 3.98vw),
      6rem
  ); /* Space 2xl-3xl: 56px → 96px */
  /* Custom pairs */
  --space-s-l: clamp(
      0.88rem,
      calc(0.47rem + 1.79vw),
      2rem
  ); /* Space s-l: 14px → 32px */
}

:root {
  --shadow-1: 1px 1.5px 5px var(--color1-10);
  --shadow-2: 0.5px 0px 3px var(--color2-90);
}

body {
  background: var(--color-001);
}

body:has(.selectPanel) .homeNav {
  display: none;
}

.homeNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--space-l);
  width: 100vw;
  height: 100vh;
}
.homeNav__link {
  text-decoration: none;
  color: var(--color1-40);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeNav__link:hover {
  color: var(--color1-90);
}
.homeNav__localName {
  font-size: var(--step-4);
}
.homeNav__localName--ar {
  font-family: var(--serif-AR);
  font-weight: 400;
  direction: rtl;
}
.homeNav__localName--gr {
  font-family: var(--serif-GR);
  font-weight: 300;
}
.homeNav__localName--jp {
  font-family: var(--serif-JP);
  font-weight: 400;
  scale: 0.9;
}
.homeNav__englishName {
  font-size: var(--step-2);
  font-family: var(--sans-EN);
  font-weight: 200;
  text-transform: capitalize;
}

.navToggle {
  border: none;
  width: var(--space-2xl);
  position: fixed;
  cursor: pointer;
  z-index: 1;
  left: var(--space-s);
  bottom: var(--space-l);
}
@media only screen and (orientation: portrait) {
  .navToggle {
    right: var(--space-s);
  }
}
.navToggle__icon {
  width: 100%;
  height: 100%;
}
.navToggle__icon path {
  stroke: var(--color1-90);
  stroke-width: 6px;
  stroke-linecap: round;
}
.navToggle__link {
  color: var(--color1-90);
  font-family: var(--sans-EN);
  font-size: var(--step-2);
}
.navToggle__icon--open path:nth-of-type(1), .navToggle__icon--open path:nth-of-type(3) {
  transform-origin: 60% 60%;
  transition-property: transform;
}
.navToggle__icon--open path:nth-of-type(1) {
  transform: rotate(45deg) translateY(30px) translateX(-10px);
}
.navToggle__icon--open path:nth-of-type(3) {
  transform: rotate(-45deg) translateY(-30px) translateX(10px);
}
.navToggle__icon--open path:nth-of-type(2) {
  opacity: 0%;
  transition-property: transform, opacity;
  transform: translateX(100px);
}

.toggleNav {
  padding: var(--space-l);
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  background: var(--color1-80);
  position: fixed;
}
.toggleNav__link {
  text-decoration: none;
  color: var(--color1-10);
  font-size: var(--step-2);
  font-family: var(--sans-EN);
  text-transform: capitalize;
  cursor: pointer;
}
.toggleNav--open {
  z-index: 2;
}

@media only screen and (orientation: landscape) {
  #root {
    display: flex;
  }
}
@media only screen and (orientation: portrait) {
  #root {
    display: flex;
    flex-direction: column;
  }
}

.lang-ar {
  font-weight: 300;
  direction: rtl;
  line-height: 0.6em;
}

.lang-gr {
  font-weight: 200;
}

.lang-hi {
  font-weight: 200;
}

.lang-hi.letterSingle__letter span {
  font-size: var(--step-3);
}

.lang-gr.letterSingle__letter span:first-of-type {
  text-transform: capitalize;
}
.lang-gr.letterSingle__letter.lowercase span:first-of-type {
  display: none;
}
.lang-gr.letterSingle__letter.uppercase span:last-of-type {
  display: none;
}

.lang-jp.letterSingle__letter {
  font-size: var(--step-3);
}

.lang-hi--sans {
  font-family: var(--sans-HI) !important;
  font-weight: 300;
}
.lang-hi--serif {
  font-family: var(--serif-HI) !important;
  font-weight: 300;
}

.lang-ar--sans {
  font-family: var(--sans-AR) !important;
  font-weight: 400;
}
.lang-ar--serif {
  font-family: var(--serif-AR) !important;
}

.lang-gr--serif {
  font-family: var(--serif-GR);
  font-weight: 400;
}
.lang-gr--sans {
  font-family: var(--sans-GR);
  font-weight: 300;
}

.lang-jp--sans {
  font-family: var(--sans-JP);
  font-weight: 400;
}
.lang-jp--serif {
  font-family: var(--serif-JP);
  font-weight: 500;
}

.base-lang {
  font-family: var(--sans-EN);
}

.lettersPanel {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: var(--space-xl);
       column-gap: var(--space-xl);
}
@media only screen and (orientation: landscape) {
  .lettersPanel {
    padding: 0 var(--space-3xl);
  }
}
@media only screen and (orientation: portrait) {
  .lettersPanel {
    padding: 0 var(--space-xs);
  }
}
.lettersPanel .letterSingle {
  display: inline-block;
}

.lettersPanel .lang-ar {
  flex-direction: row-reverse;
}

@media only screen and (orientation: landscape) {
  .letterSingle__letter {
    font-size: var(--step-4);
  }
}

.letter.lang-ar::after {
  content: " َ";
}

.letterSingle .letterSingle__letter::after {
  content: "";
  position: absolute;
  transition-timing-function: cubic-bezier(0.2, 0.2, 0.38, 0.9);
  transition-duration: 0.2s;
  border-radius: 5px;
  background: var(--color1-90);
  transform-origin: bottom left;
  transition-property: transform;
  transform: scaleX(0);
}
.letterSingle .letterSingle__letter.lang-ar::after {
  top: 35%;
  height: 1%;
  width: 150%;
  left: -20%;
}
.letterSingle .letterSingle__letter.lang-hi::after {
  height: 1%;
  bottom: 0%;
}
.letterSingle .letterSingle__letter.lang-gr::after {
  height: 1%;
  top: 40%;
  width: 140%;
  left: -20%;
}
.letterSingle .letterSingle__letter.lang-jp::after {
  height: 2%;
  top: 60%;
  width: 110%;
  left: -5%;
}
.letterSingle:hover .letterSingle__letter {
  cursor: pointer;
  cursor: pointer;
  color: var(--color1-90);
}
.letterSingle:hover .letterSingle__letter::after {
  transform: scaleX(1);
}

.letterSingle {
  position: relative;
}
.letterSingle .letterSingle__tooltipWrp {
  display: none;
}
.letterSingle a {
  text-decoration: none;
}
.letterSingle:hover .letterSingle__tooltipWrp {
  display: none;
  width: 20vw;
  display: flex;
  flex-direction: row;
  gap: var(--space-2xs);
  background: var(--color1-10);
  z-index: 1;
  position: absolute;
  top: 85%;
  left: -7vw;
  border-radius: 4px;
  justify-content: space-around;
}

.form-in-word {
  font-size: var(--step-4);
  color: grey;
  direction: rtl;
}
.form-in-word em,
.form-in-word span {
  color: var(--color1-90);
  font-style: normal;
  font-weight: 300;
}

.letterMorph {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.letterMorph__morphType {
  color: var(--color2-80);
  font-size: var(--step-0);
  font-family: var(--sans-EN);
}
.letterMorph__morphedForm {
  color: var(--color2-40);
  font-size: var(--step-4);
  font-weight: 200;
  line-height: 0.3em;
}

.fg-1 h1 {
  color: hsl(80, 50%, 50%);
}

.fg-2 h1 {
  color: hsl(160, 50%, 50%);
}

.fg-3 h1 {
  color: hsl(240, 50%, 50%);
}

.fg-4 h1 {
  color: hsl(320, 50%, 50%);
}

.fg-5 h1 {
  color: hsl(40, 50%, 50%);
}

.fg-6 h1 {
  color: hsl(120, 50%, 50%);
}

.fg-7 h1 {
  color: hsl(200, 50%, 50%);
}

.fg-8 h1 {
  color: hsl(280, 50%, 50%);
}

.fg-9 h1 {
  color: hsl(0, 50%, 50%);
}

.phonetics:nth-of-type(1) .letterSingle__letter {
  color: hsl(60, 50%, 50%) !important;
}

.phonetics:nth-of-type(2) .letterSingle__letter {
  color: hsl(120, 50%, 50%) !important;
}

.phonetics:nth-of-type(3) .letterSingle__letter {
  color: hsl(180, 50%, 50%) !important;
}

.phonetics:nth-of-type(4) .letterSingle__letter {
  color: hsl(240, 50%, 50%) !important;
}

.phonetics:nth-of-type(5) .letterSingle__letter {
  color: hsl(300, 50%, 50%) !important;
}

.phonetics:nth-of-type(6) .letterSingle__letter {
  color: hsl(0, 50%, 50%) !important;
}

.phonetics:nth-of-type(7) .letterSingle__letter {
  color: hsl(60, 50%, 50%) !important;
}

.phonetics:nth-of-type(8) .letterSingle__letter {
  color: hsl(120, 50%, 50%) !important;
}

.phonetics:nth-of-type(9) .letterSingle__letter {
  color: hsl(180, 50%, 50%) !important;
}

.phonetics:nth-of-type(10) .letterSingle__letter {
  color: hsl(240, 50%, 50%) !important;
}

.phonetics:nth-of-type(11) .letterSingle__letter {
  color: hsl(300, 50%, 50%) !important;
}

.letterSingle__letter {
  color: grey;
}

.alone span {
  display: none;
}

.initial span:nth-of-type(1) {
  display: none;
}

.final span:nth-of-type(2) {
  display: none;
}

.selectPanel {
  display: flex;
  position: sticky;
  top: 0;
  height: 100vh;
}
.selectPanel__title {
  font-family: var(--sans-EN);
  font-weight: 200;
  font-size: var(--step-3);
  color: var(--color1-90);
  text-transform: capitalize;
}
@media only screen and (orientation: portrait) {
  .selectPanel__title {
    width: 10ch;
  }
}
.selectPanel__selections {
  gap: var(--space-xs);
  display: flex;
  flex-direction: column;
}
@media only screen and (orientation: landscape) {
  .selectPanel {
    flex-direction: column;
    padding: var(--space-l);
    gap: var(--space-s);
    border-right: 0.1px solid var(--color1-40);
  }
}
@media only screen and (orientation: portrait) {
  .selectPanel {
    position: sticky;
    top: 0;
    flex-direction: row;
    padding-bottom: var(--space-l);
    gap: var(--space-s);
    border-bottom: 1px solid var(--color1-40);
  }
}

.dropdown {
  width: 10em;
  font-family: var(--sans-EN);
  text-transform: capitalize;
  outline: none;
  color: var(--color1-80);
  padding: var(--space-3xs) var(--space-2xs);
  cursor: pointer;
  background: var(--color1-10);
}
.dropdown:hover {
  background-color: var(--color1-90);
  color: var(--color1-10);
}
.dropdown:active {
  border: none;
}

.letterSingle__letter.lang-jp.hiragana span:nth-of-type(2) {
  display: none;
}
.letterSingle__letter.lang-jp.katakana span:nth-of-type(1) {
  display: none;
}

.letterSingle__letterOrder {
  color: var(--color1-80);
  font-size: var(--step-0);
  text-align: center;
  font-family: var(--number);
}

.letters.lang-jp {
  display: flex;
  flex-direction: row;
}
.letters.lang-jp .phonetics {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.letters.lang-jp .phonetics h2 {
  align-self: center;
  color: var(--color1-80);
}
.letters.lang-jp .pg-y .letterSingle:nth-of-type(2) .letterSingle__letter {
  text-align: center;
}