@use 'identity' as i;

body {
    background: var(--color-001);
    // position: relative;
    // @include i.landscape {
    //     padding: var(--space-l) var(--space-2xl);
    // }
    // @include i.portrait {
    //     padding: var(--space-m) var(--space-m);
    // }
}

body:has(.selectPanel) {
    .homeNav {
        display: none;
    }
}

// body:has(.homeNav) {
//     .navToggle {
//         display: none;
//     }
// }

// body:has(.letters) {
//     .navToggle {
//         display: unset;
//     }
// }

.homeNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--space-l);
    width: 100vw;
    height: 100vh;
    &__link {
        text-decoration: none;
        color: var(--color1-40);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover {
            color: var(--color1-90);
        }
    }
    &__localName {
        font-size: var(--step-4);
        &--ar {
            font-family: var(--serif-AR);
            font-weight: 400;
            direction: rtl;
            // line-height: 0.6em;
        }
        &--gr {
            font-family: var(--serif-GR);
            font-weight: 300;
        }
        &--jp {
            font-family: var(--serif-JP);
            font-weight: 400;
            // font-size: larger;
            scale: 0.9;
        }
    }
    &__englishName {
        font-size: var(--step-2);
        font-family: var(--sans-EN);
        font-weight: 200;
        text-transform: capitalize;
    }
}

.navToggle {
    border: none;
    width: var(--space-2xl);
    position: fixed;
    cursor: pointer;
    z-index: 1;

    left: var(--space-s);
    bottom: var(--space-l);
    @include i.portrait {
        right: var(--space-s);
    }
    &__icon {
        width: 100%;
        height: 100%;
        // @include x.svgShadow;
        path {
            stroke: var(--color1-90);
            stroke-width: 6px;
            stroke-linecap: round;
        }
    }
    &__link {
        color: var(--color1-90);
        font-family: var(--sans-EN);
        font-size: var(--step-2);
    }
    &__icon--open {
        path {
            &:nth-of-type(1),
            &:nth-of-type(3) {
                transform-origin: 60% 60%;
                transition-property: transform;
            }
            &:nth-of-type(1) {
                @include i.crossBrowser(
                    transform,
                    rotate(45deg) translateY(30px) translateX(-10px)
                );
            }
            &:nth-of-type(3) {
                @include i.crossBrowser(
                    transform,
                    rotate(-45deg) translateY(-30px) translateX(10px)
                );
            }
            &:nth-of-type(2) {
                opacity: 0%;
                transition-property: transform, opacity;
                @include i.crossBrowser(transform, translateX(100px));
            }
        }
    }
}

.toggleNav {
    padding: var(--space-l);
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    background: var(--color1-80);
    position: fixed;
    // border-right: 1px solid var(--color1-40);
    &__link {
        text-decoration: none;
        color: var(--color1-10);
        font-size: var(--step-2);
        font-family: var(--sans-EN);
        text-transform: capitalize;
        cursor: pointer;
    }
    &--open {
        z-index: 2;
    }
}

#root {
    @include i.landscape {
        display: flex;
        // gap: var(--space-xl);
    }
    @include i.portrait {
        display: flex;
        flex-direction: column;
    }
}

.lang-ar {
    font-weight: 300;
    direction: rtl;
    line-height: 0.6em;
}

.lang-gr {
    font-weight: 200;
}

.lang-gr.letterSingle__letter {
    span:first-of-type {
        text-transform: capitalize;
    }
    &.lowercase {
        span:first-of-type {
            display: none;
        }
    }
    &.uppercase {
        span:last-of-type {
            display: none;
        }
    }
}

.lang-jp.letterSingle__letter {
    font-size: var(--step-3);
}

.lang-ar {
    &--sans {
        font-family: var(--sans-AR) !important;
        font-weight: 400;
    }
    &--serif {
        font-family: var(--serif-AR) !important;
    }
}

.lang-gr {
    &--serif {
        font-family: var(--serif-GR);
        font-weight: 400;
    }
    &--sans {
        font-family: var(--sans-GR);
        font-weight: 300;
    }
}

.lang-jp {
    &--sans {
        font-family: var(--sans-JP);
        font-weight: 400;
    }
    &--serif {
        font-family: var(--serif-JP);
        font-weight: 500;
    }
}

.base-lang {
    font-family: var(--sans-EN);
}

.lettersPanel {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--space-xl);
    @include i.landscape {
        padding: 0 var(--space-3xl);
    }
    @include i.portrait {
        padding: 0 var(--space-xs);
    }
    .letterSingle {
        display: inline-block;
    }
}

.lettersPanel .lang-ar {
    flex-direction: row-reverse;
}

.lettersPanel .lang-ar {
    flex-direction: row-reverse;
}

.letterSingle__letter {
    @include i.landscape {
        font-size: var(--step-4);
    }
}

.letter.lang-ar {
    &::after {
        content: ' َ';
    }
}

// letterSingle__letterbase action after hover
// ==================================================

.letterSingle {
    .letterSingle__letter {
        &::after {
            content: '';
            position: absolute;
            bottom: 20%;
            height: 5%;
            width: 150%;
            left: -20%;
            @include i.motion-1;
            border-radius: 5px;
            background: var(--color1-90);
            transform-origin: bottom left;
            transition-property: transform;
            // z-index: -1;
            @include i.crossBrowser(transform, scaleX(0));
        }
    }
    &:hover {
        .letterSingle__letter {
            cursor: pointer;
            cursor: pointer;
            color: var(--color1-90);
            &::after {
                @include i.crossBrowser(transform, scaleX(1));
            }
        }
    }
}

// toooltip action after letterSingle__letterhover
// ==================================================

.letterSingle {
    position: relative;
    .letterSingle__tooltipWrp {
        display: none;
    }
    a {
        text-decoration: none;
    }
    &:hover {
        .letterSingle__tooltipWrp {
            display: none;
            width: 20vw;
            display: flex;
            flex-direction: row;
            gap: var(--space-2xs);
            background: var(--color1-10);
            z-index: 1;
            position: absolute;
            top: 85%;
            left: -7vw;
            border-radius: 4px;
            justify-content: space-around;
        }
    }
}

.form-in-word {
    font-size: var(--step-4);
    color: grey;
    direction: rtl;
    em,
    span {
        color: var(--color1-90);
        font-style: normal;
        font-weight: 300;
    }
}

.letterMorph {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__morphType {
        color: var(--color2-80);
        font-size: var(--step-0);
        font-family: var(--sans-EN);
    }
    &__morphedForm {
        color: var(--color2-40);
        font-size: var(--step-4);
        font-weight: 200;
        line-height: 0.3em;
    }
}

@for $i from 1 through 9 {
    .fg-#{$i} {
        h1 {
            $hue: $i * 80;
            color: hsl($hue, 50%, 50%);
        }
    }
}

@for $i from 1 through 11 {
    .phonetics:nth-of-type(#{$i}) {
        .letterSingle__letter {
            $hue: $i * 60;
            color: hsl($hue, 50%, 50%) !important;
        }
    }
}

.letterSingle__letter {
    color: grey;
}

.alone {
    span {
        display: none;
    }
}

.initial {
    span:nth-of-type(1) {
        display: none;
    }
}

.medial {
    span {
    }
}

.final {
    span:nth-of-type(2) {
        display: none;
    }
}

.selectPanel {
    display: flex;
    position: sticky;
    top: 0;
    height: 100vh;
    // border: 2px solid red; // XXXX debug ⚠
    // overflow-y: none;
    &__title {
        font-family: var(--sans-EN);
        font-weight: 200;
        font-size: var(--step-3);
        color: var(--color1-90);
        text-transform: capitalize;
        @include i.portrait {
            width: 10ch;
        }
    }
    &__selections {
        gap: var(--space-xs);
        display: flex;
        flex-direction: column;
    }
    @include i.landscape {
        flex-direction: column;
        padding: var(--space-l);
        gap: var(--space-s);
        border-right: 0.1px solid var(--color1-40);
    }
    @include i.portrait {
        position: sticky;
        top: 0;
        flex-direction: row;
        // justify-content: center;
        padding-bottom: var(--space-l);
        gap: var(--space-s);
        border-bottom: 1px solid var(--color1-40);
    }
}

// dropdown menu
// ==================================================

.dropdown {
    width: 10em;
    // border: none;
    font-family: var(--sans-EN);
    text-transform: capitalize;
    outline: none;
    color: var(--color1-80);
    padding: var(--space-3xs) var(--space-2xs);
    cursor: pointer;
    background: var(--color1-10);
    &:hover {
        background-color: var(--color1-90);
        color: var(--color1-10);
    }
    &:active {
        border: none;
    }
}

.letterSingle__letter.lang-jp {
    &.hiragana {
        span:nth-of-type(2) {
            display: none;
        }
    }
    &.katakana {
        span:nth-of-type(1) {
            display: none;
        }
    }
}

.letterSingle {
    &__letter {
    }
    &__letterOrder {
        color: var(--color1-80);
        font-size: var(--step-0);
        text-align: center;
        font-family: var(--number);
    }
}

.letters.lang-jp {
    display: flex;
    flex-direction: row;
    .phonetics {
        width: 100%;
        display: flex;
        justify-content: space-between;
        // gap: var(--space-3xl);
        h2 {
            align-self: center;
            color: var(--color1-80);
        }
    }
    .pg-y {
        .letterSingle:nth-of-type(2) {
            // font-size: var(--step-5);
            // flex-grow: 3;
            .letterSingle__letter {
                text-align: center;
            }
            // justify-content: center;
            // border: 2px solid red; // XXXX debug ⚠
        }
    }
}
